<p><b><%= @recipe.name %></b></p>
<p><%= @recipe.rating %> star</p>
<p><%= @recipe.instructions %></p>

<a href="/">Home</a>
<a href="/recipe/<%= @recipe.id %>/edit">Edit</a>
<a href="/recipe/<%= @recipe.id %>/destroy"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow" class="btn btn-default">Delete</a>


<p><a href="/recipe/<%= @recipe.id %>/tag/new">Add Tag</a></p>

<% @recipe.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>


































